@using MVCStok.Models.Entity
@model  List<TBLURUNLER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Urun ID</th>
        <th>Urun Adı</th>
        <th>Urun Markası</th>
        <th>Kategorisi</th>
        <th>Fiyatı</th>
        <th>Stok</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach(var ktgr in Model)
            {
                <tr>
                    <td>@ktgr.urunID</td>
                    <td>@ktgr.urunAd</td>
                    <td>@ktgr.marka</td>
                    <td>@ktgr.TBLKATEGORILER.kategoriAd</td>
                    <td>@ktgr.fiyat</td>
                    <td>@ktgr.stok</td>
                    <td><a href="/Urun/SIL/@ktgr.urunID" class="btn btn-danger">SİL</a></td>
                    <td><a href="/Urun/UrunGetir/@ktgr.urunID" class="btn btn-success">GÜNCELLE</a></td>
                </tr>
            }
    </tbody>
</table>
<a href="/Urun/UrunEkleme/" class="btn btn-primary">YENİ ÜRÜN EKLE</a>